//Tło strony -
$main-background-color: #E4E4E4;
//Kolor tekstu - #
$main-font-color: 444444;
//Tło loga -  (jest to tekst w prostokącie)
$logo-background-color: #FC4887;
//Niebieskie obramowanie przycisku -
$button-featured-color: #1691C3;
